{#-
---------------------------------------------------
SKIP-LINK :: header
---------------------------------------------------
@version: 0.1
@author: Ondreas
@github: github.com/Ondreas
@twcss: ^3.3.1
---------------------------------------------------
-#}
<a data-skiplink class="z-40 outline-none fixed top-0 left-1/2 -mt-1 p-4 text-sm leading-normal font-semibold text-center no-underline text-white bg-indigo-600 rounded-br rounded-bl -translate-x-1/2 -translate-y-full transition-transform duration-300 ease-out focus-visible:translate-y-0 focus-visible:ring-2 focus-visible:ring-offset-1" href="#main-content">Skip to main content</a>