@layer base {
    /* @FONT-FACE -------------------------------------- */
    @font-face {
        font-family: "Inter var";
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url("./assets/fonts/Inter.var.woff2?v=3.19") format("woff2");
    }

    html {
        scroll-behavior: smooth;
        -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-smoothing: antialiased;
        text-rendering: optimizeSpeed;
        word-break: break-word;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

    [hidden],
    .js [x-cloak] {
        display: none;
    }

    a,
    a:link,
    a:focus,
    a:focus-visible,
    a:hover,
    a:visited,
    abbr[title] {
        text-decoration: none;
        text-decoration-line: none;
    }
    button,
    [type="button"],
    [type="reset"],
    [type="submit"],
    input {
        appearance: none;
        user-select: none;
    }
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        cursor: pointer;
        touch-action: manipulation;
    }

    a:focus-visible,
    button:focus-visible,
    [type="button"]:focus-visible,
    [type="reset"]:focus-visible,
    [type="submit"]:focus-visible,
    input:focus-visible {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}