{#-
---------------------------------------------------
NAVITEM
---------------------------------------------------
@param: attr - attribute modifier | border, theme
@param: style - inline CSS | e.g: "--btn-w:80px;"
@param: class - nav item TW classes | e.g: bg-green-500
@param: reverse - icon layout position | true, false
@param: icon - SVG symbol ID (no hashtag) | e.g: sun
@param: iconW - icon width
@param: iconH - icon height
@param: iconClass - custom icon classes | e.g: fill-*
@param: label - nav item label/text
@param: labelClass - label TW classes | e.g: sr-only

@usage:
- - - - - - - - - - - - - - - - - - - - - - - - - -

{{ element("navitem", { 
    attr: "border", reverse: "true", 
    target: "_blank", rel: "no-opener no-follow",  
    style: "", class: "", 
    icon: "exit", iconClass: "", 
    iconW: "", iconH: "",
    label: "Logout" , labelClass: ""
} )}}

- - - - - - - - - - - - - - - - - - - - - - - - - -
-#}
<!-- navitem -->
<a href="{{ params.url }}"
    {%- if params.attr != '' %} data-navitem="{{ params.attr }}"{% else %}data-navitem{% endif %}
    {%- if params.target %} target="{{ params.target }}"{% endif %}
    {%- if params.rel %} rel="{{ params.rel }}"{% endif %}
    {%- if params.style %} style="{{ params.style }}"{% endif %} 
    {%- if params.class %} class="{{ params.class }}"{% endif %}>
    {%- if params.icon != '' %}
        {%- if params.reverse != 'true' %}
    <svg width="{{ params.iconW }}" height="{{ params.iconH }}" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" {% if params.iconClass %}class="{{ params.iconClass }}"{% endif %}><use xlink:href="#{{ params.icon }}" /></svg>
    <span data-navitem-label {% if params.labelClass %}class="{{ params.labelClass }}"{% endif %}>{{ params.label }}</span>
        {%- else %}
    <span data-navitem-label {% if params.labelClass %}class="{{ params.labelClass }}"{% endif %}>{{ params.label }}</span>
    <svg width="{{ params.iconW }}" height="{{ params.iconH }}" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" {% if params.iconClass %}class="{{ params.iconClass }}"{% endif %}><use xlink:href="#{{ params.icon }}" /></svg>
        {%- endif %}
    {%- else %}
    {{ params.label }}
    {% endif %}
</a>