{#-
NAVITEM :: Navigation item
-#}
<!-- basic navitem -->
<a data-navitem href="" rel="no-opener" class="group outline-none select-none inline-flex items-center self-stretch w-full min-w-11 m-0 px-8 py-5 text-sm leading-normal font-semibold normal-case horizontal-tb whitespace-nowrap transition-colors duration-150 ease-out text-gray-700 bg-transparent dark:text-gray-200 focus-visible:z-10 focus-visible:ring-inset focus-visible:ring-2 focus-visible:text-gray-900 focus-visible:bg-gray-50 dark:focus-visible:text-white dark:focus-visible:bg-gray-600 hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600 active:shadow-inner active:text-gray-900 active:bg-gray-200 dark:active:text-gray-300 dark:active:bg-gray-800 sm:justify-center sm:py-[unset] sm:px-4 sm:text-center">
    <span data-navitem-label class="group-active:scale-98">Navitem</span>
</a>
<!-- navitem w/ icon on left -->
<a data-navitem href="" rel="no-opener" class="group outline-none select-none inline-flex items-center self-stretch w-full min-w-11 m-0 px-8 py-5 text-sm leading-normal font-semibold normal-case horizontal-tb whitespace-nowrap transition-colors duration-150 ease-out text-gray-700 bg-transparent dark:text-gray-200 focus-visible:z-10 focus-visible:ring-inset focus-visible:ring-2 focus-visible:text-gray-900 focus-visible:bg-gray-50 dark:focus-visible:text-white dark:focus-visible:bg-gray-600 hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600 active:shadow-inner active:text-gray-900 active:bg-gray-200 dark:active:text-gray-300 dark:active:bg-gray-800 sm:justify-center sm:py-[unset] sm:px-4 sm:text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" stroke-linecap="round" class="group-active:scale-98"><g><path d="M6,12 L18,12" /><path d="M12,6 L12,18" /></g></svg>
    <span data-navitem-label class="ml-2.5 group-active:scale-98">Navitem</span>
</a>
<!-- navitem w/ icon on right -->
<a data-navitem href="" rel="no-opener" class="group outline-none select-none inline-flex items-center self-stretch w-full min-w-11 m-0 px-8 py-5 text-sm leading-normal font-semibold normal-case horizontal-tb whitespace-nowrap transition-colors duration-150 ease-out text-gray-700 bg-transparent dark:text-gray-200 focus-visible:z-10 focus-visible:ring-inset focus-visible:ring-2 focus-visible:text-gray-900 focus-visible:bg-gray-50 dark:focus-visible:text-white dark:focus-visible:bg-gray-600 hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600 active:shadow-inner active:text-gray-900 active:bg-gray-200 dark:active:text-gray-300 dark:active:bg-gray-800 sm:justify-center sm:py-[unset] sm:px-4 sm:text-center">
    <span data-navitem-label class="mr-2.5 group-active:scale-98">Navitem</span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" stroke-linecap="round" class="group-active:scale-98"><g><path d="M6,12 L18,12" /><path d="M12,6 L12,18" /></g></svg>
</a>