/* --------------------------------------------- */
/* NAVIGATION                                    */
/* --------------------------------------------- */
@layer components {
    [data-nav] {
        /*
        @apply group overflow-auto fixed top-0 right-0 bottom-0 flex flex-col justify-between self-stretch w-(--drawer-w) h-screen transition-transform duration-300 ease-out-sine shadow-2xl will-change-transform bg-(--nav-bkg) sm:relative sm:flex-row sm:inset-auto sm:w-full sm:h-[unset] sm:ml-4 sm:shadow-none sm:transition-none no-js:translate-x-full no-js:sm:translate-x-0 no-js:group-hover:translate-x-0 no-js:group-focus-within:translate-x-0;
        */
        z-index: 30;
        overflow: auto;
        position: fixed;
        inset: 0;
        left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        width: var(--nav-w);
        height: 100vh;
        background-color: var(--nav-bkg);
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    }

    .no-js [data-nav] {
        transform: translateX(100%);
    }

    @media (min-width: 640px) {
        [data-nav] {
            position: relative;
            flex-direction: row;
            inset: unset;
            width: 100%;
            height: unset;
            margin-left: theme(spacing[4]);
            transition-property: none;
            box-shadow: none;
        }
        .js [data-nav] {
            display: flex !important;
        }

        .no-js [data-nav] {
            transform: translateX(0);
        }
    }

    .no-js .group:hover [data-nav],
    .no-js .group:focus-within [data-nav] {
        transform: translateX(0);
    }
    /* ----------------------------------------- */
    /* NAVLIST                                   */
    /* ----------------------------------------- */
    .no-js [data-navlist] > *:not([hidden]) ~ *:not([hidden]) {
        --navlist-bw: theme(borderWidth.DEFAULT);
        --tw-divide-y-reverse: 0;
        border-top-width: calc(var(--navlist-bw) * calc(1 - var(--tw-divide-y-reverse)));
        border-bottom-width: calc(var(--navlist-bw) * var(--tw-divide-y-reverse));
        border-style: solid;
        border-color: var(--navlist-bc);
    }

    @media (min-width: 640px) {
        .no-js [data-navlist] > *:not([hidden]) ~ *:not([hidden]) {
            --navlist-bw: theme(borderWidth.0);
        }
    }
}
/*
@layer base {
    :root {
        --navlist-bc: theme(borderColor.DEFAULT);
    }

    @media (prefers-color-scheme: dark) {
        :root.no-js {
            --navlist-bc: theme(colors.gray.600/30);
        }
    }

    [data-theme="dark"],
    :root.dark {}
}
*/