{# basic button #}
<button type="button" class="appearance-none outline-none select-none touch-manipulation inline-flex items-center justify-center min-w-11 w-auto h-11 m-0 px-2 py-2.5 text-sm leading-normal font-semibold text-center normal-case horizontal-tb transition-colors whitespace-nowrap border rounded-md border-gray-300 dark:border-gray-600 text-gray-600 bg-white dark:text-gray-200 dark:bg-gray-700 focus-visible:z-10 focus-visible:ring-inset focus-visible:ring-2 focus-visible:text-gray-900 focus-visible:bg-gray-50 dark:focus-visible:text-white dark:focus-visible:bg-gray-600 hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600 active:shadow-inner active:text-gray-900 active:bg-gray-200 dark:active:text-gray-300 dark:active:bg-gray-800"><span class="px-2">Button</span></button>
{# button w/ icon on left #}
<button type="button" class="appearance-none outline-none select-none touch-manipulation inline-flex items-center justify-center min-w-11 w-auto h-11 m-0 px-2 py-2.5 text-sm leading-normal font-semibold text-center normal-case horizontal-tb transition-colors whitespace-nowrap border rounded-md border-gray-300 dark:border-gray-600 text-gray-600 bg-white dark:text-gray-200 dark:bg-gray-700 focus-visible:z-10 focus-visible:ring-inset focus-visible:ring-2 focus-visible:text-gray-900 focus-visible:bg-gray-50 dark:focus-visible:text-white dark:focus-visible:bg-gray-600 hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600 active:shadow-inner active:text-gray-900 active:bg-gray-200 dark:active:text-gray-300 dark:active:bg-gray-800">
    <svg class="w-5 h-5 ml-1 group-active:scale-98" width="20" height="20" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><use xlink:href="#exit" /></svg>
    <span class="pl-3 pr-2 group-active:scale-98">Button</span>
</button>
{# button w/ icon on right #}
<button type="button" class="appearance-none outline-none select-none touch-manipulation inline-flex items-center justify-center min-w-11 w-auto h-11 m-0 px-2 py-2.5 text-sm leading-normal font-semibold text-center normal-case horizontal-tb transition-colors whitespace-nowrap border rounded-md border-gray-300 dark:border-gray-600 text-gray-600 bg-white dark:text-gray-200 dark:bg-gray-700 focus-visible:z-10 focus-visible:ring-inset focus-visible:ring-2 focus-visible:text-gray-900 focus-visible:bg-gray-50 dark:focus-visible:text-white dark:focus-visible:bg-gray-600 hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white dark:hover:bg-gray-600 active:shadow-inner active:text-gray-900 active:bg-gray-200 dark:active:text-gray-300 dark:active:bg-gray-800">
    <span class="pl-2 pr-2 group-active:scale-98">Button</span>
    <svg class="w-5 h-5 mr-1 group-active:scale-98" width="20" height="20" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><use xlink:href="#exit" /></svg>
</button>