/* --------------------------------------------- */
/* BUTTON                                        */
/* --------------------------------------------- */
@layer components {
    [data-btn] {
        /* @url: assets/css/base.css
        ** - - - - - - - - - - - - - - - - -
        ** appearance: none;
        ** outline: 2px solid transparent;
        ** outline-offset: 2px;
        ** user-select: none;
        ** touch-action: manipulation;
        */
        z-index: var(--btn-zIndex);
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--btn-min-w);
        width: var(--btn-w);
        height: var(--btn-h);
        padding-top: var(--btn-py);
        padding-right: var(--btn-px);
        padding-bottom: var(--btn-py);
        padding-left: var(--btn-px);
        font-size: var(--btn-fs);
        font-weight: var(--btn-fw);
        line-height: var(--btn-lh);
        text-align: center;
        text-transform: var(--btn-tt);
        writing-mode: horizontal-tb;
        white-space: nowrap;
        /*
        ** border-width: var(--btn-bw);
        ** border-style: solid;
        ** border-color: var(--btn-bc);
        */
        border-radius: var(--btn-br);
        color: var(--btn-txt);
        background-color: var(--btn-bkg);
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
    /* BUTTON :: focus ------------------------- */
    [data-btn]:focus-visible {
        color: var(--btn-txt-f);
        background-color: var(--btn-bkg-f);
    }
    /* BUTTON :: hover ------------------------- */
    /* @media not all and (pointer: coarse), (min--moz-device-pixel-ratio:0) { */
    @media (hover: hover) and (pointer: fine) {
        [data-btn]:hover {
            color: var(--btn-txt-h);
            background-color: var(--btn-bkg-h);
        }
    }
    /* BUTTON :: active ------------------------ */
    [data-btn]:active {
        color: var(--btn-txt-a);
        background-color: var(--btn-bkg-a);
        box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    }

    [data-btn]:active *:not([hidden], .hidden) {
        transform: scale(.98);
    }

    :not([data-btn*="navicon"])[aria-pressed="true"] {
        pointer-events: none;
    }
    /* BUTTON :: with border ------------------- */
    [data-btn*="border"] {
        border-width: var(--btn-bw, var(--ui-bw));
        border-style: solid;
        border-color: var(--btn-bc, var(--ui-bc));
    }
    /* BUTTON :: with icon --------------------- */
    [data-btn] > svg:not([hidden], .hidden) + [data-btn-label]:not([hidden], .hidden, .sr-only) {
        padding-left: theme(padding[3]);
    }

    [data-btn] > [data-btn-label]:not([hidden], .hidden, .sr-only) + svg:not([hidden], .hidden){
        margin-left: theme(padding[1]);
    }

    [data-btn] > [data-btn-label]:not([hidden], .hidden, .sr-only):only-of-type {
        padding-right: theme(padding[2]);
        padding-left: theme(padding[2]);
    }
}