/* --------------------------------------------- */
/* BUTTON :: Navicon                             */
/* --------------------------------------------- */
@layer components {
    [data-btn*="navicon"] {
        --btn-w: var(--ui-size);
        --btn-bkg: theme(colors.transparent);
        --btn-zIndex: theme(zIndex.50);
        position: absolute;
        /*
        ** margin-left: calc(var(--btn-px) * -1);
        ** margin-right: calc(var(--btn-px) * -1);
        */
    }
    /* NAVICON :: Breakpoint | sm -------------- */
    @media (min-width: 640px) {
        [data-btn*="navicon"] {
            display: none;
        }
    }
    /* NAVICON :: icon ------------------------- */
    [data-btn*="navicon"] > svg {
        --btn-w: theme(spacing[10]);
        --btn-h: theme(spacing[10]);
        overflow: hidden;
        display: inline-flex;
        flex-shrink: 0;
        width: var(--btn-w);
        height: var(--btn-h);
        margin-left: calc(var(--btn-px) * -1);
        margin-right: calc(var(--btn-px) * -1);
        border-radius: var(--btn-br);
    }
    [data-btn*="navicon"] path:nth-of-type(1),
    [data-btn*="navicon"] path:nth-of-type(2),
    [data-btn*="navicon"] path:nth-of-type(3) {
        transform-origin: center;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    [data-btn*="navicon"] path:nth-of-type(1) {
        transform: translateY(-0.25rem); /* -4px */
    }
    [data-btn*="navicon"] path:nth-of-type(3) {
        transform: translateY(0.25rem); /* 4px */
    }
    [data-btn*="navicon"] path:nth-of-type(1),
    [data-btn*="navicon"] path:nth-of-type(3) {
        transition-duration: 300ms;
        transition-delay: 150ms;
    }
    [data-btn*="navicon"] path:nth-of-type(2) {
        transition-duration: 200ms;
        transition-delay: 100ms;
    }
    [data-btn*="navicon"][aria-expanded="true"] path:nth-of-type(1),
    .no-js [data-btn*="navicon"]:hover path:nth-of-type(1),
    .no-js [data-btn*="navicon"]:focus-visible path:nth-of-type(1),
    .no-js .group:focus-within path:nth-of-type(1) {
        transform: translateY(0) rotate(45deg);
    }
    [data-btn*="navicon"][aria-expanded="true"] path:nth-of-type(3),
    .no-js [data-btn*="navicon"]:hover path:nth-of-type(3),
    .no-js [data-btn*="navicon"]:focus-visible path:nth-of-type(3),
    .no-js .group:focus-within path:nth-of-type(3) {
        transform: translateY(0) rotate(-45deg);
    }
    [data-btn*="navicon"][aria-expanded="true"] path:nth-of-type(2),
    .no-js [data-btn*="navicon"]:hover path:nth-of-type(2),
    .no-js [data-btn*="navicon"]:focus-visible path:nth-of-type(2),
    .no-js .group:focus-within path:nth-of-type(2) {
        transform: translateX(-100%);
    }
    /* NAVICON :: label ------------------------ */
    [data-btn*="navicon"] [data-btn-label] {
        overflow: hidden;
        position: absolute;
        clip: rect(0, 0, 0, 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border-width: 0;
        white-space: nowrap;
    }
    .no-js [data-btn-label*="on"],
    .no-js [data-btn-label*="off"]:hover,
    .no-js [data-btn-label*="off"]:focus-visible,
    .no-js .group:focus-within [data-btn-label*="off"] {
        display: none;
    }
    .no-js [data-btn-label*="off"],
    .no-js [data-btn-label*="on"]:hover,
    .no-js [data-btn-label*="on"]:focus-visible,
    .no-js .group:focus-within [data-btn-label*="on"] {
        display: block;
    }
}