{#
---------------------------------------------------
BUTTON-GROUP with or without an icon.
---------------------------------------------------
@version: 0.1
@author: Ondreas
@github: github.com/Ondreas
@twcss: ^3.3.1
@alpinejs: ^3.12
@demo: https://codepen.io/Ondreas/pen/

@param: model - layout variation | e.g: "theme-switch"
@param: style - inline CSS | e.g: "--btn-w:80px;"
@param: roleCss - custom 'group' classes
@param: attr - attribute modifier | "border theme"
@param: btnCss* - TWCSS classes for buttons
@param: textCss* - TWCSS classes for button's label
@param: icon{A,B,C} - symbol ID (no hashtag) | e.g: sun
@param: iconCss - custom icon classes | e.g: fill-*
@param: text{A,B,C} - button label/text

@usage:
- - - - - - - - - - - - - - - - - - - - - - - - - -

{{ element("button", { 
    model: "theme-switch", roleCss: "gap-6", 
    attr: "theme border", btnCss: "", 
    iconA: "sun", iconCssA: "", iconB: "moon", iconCssB: "", iconC: "cog", iconCssC: "", 
    txtA: "Light", txtCssA: "", txtB: "Dark", txtCssB: "", txtC: "System", txtCssC: ""
} )}}

- - - - - - - - - - - - - - - - - - - - - - - - - -
#}

<div role="group" {% if params.model == 'theme-switch' %} x-cloak{% endif %} 
    {% if params.style != '' %}style="{{ params.style }}"{% endif %}
    class="flex{% if params.roleCss != '' %} {{ params.roleCss }}{% endif %}">
    <button type="button" 
        {% if params.attr != "" %}data-btn="{{ params.attr }}"{% else %}data-btn{% endif %} 
        {% if params.model != "theme-switch" %}class="rounded-r-none"{% else%}
            {% if params.btnCss != '' %}class="{{ params.btnCss }}"{% endif %}
        {% endif %} 
        {% if params.model == "theme-switch" %}
        x-on:click=" colorScheme = 'light' " :aria-pressed="colorScheme === 'light' ? true : false"
        {% endif %}>
        {% if params.iconA != '' %}
        <svg width="20" height="20" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" {% if params.iconCssA != '' %}class="{{ params.iconCssA }}"{% endif %}><use xlink:href="#{{ params.iconA }}" /></svg>
        {% endif %}
        <span data-btn-label {% if params.txtCssA != "" %}class="{{ params.txtCssA }}"{% endif %}>{{ params.txtA }}</span>
    </button>
    <button type="button" 
        {% if params.attr != "" %}data-btn="{{ params.attr }}"{% else %}data-btn{% endif %} 
        {% if params.model != "theme-switch" %}class="rounded-none"{% else%}
            {% if params.btnCss != '' %}class="{{ params.btnCss }}"{% endif %}
        {% endif %} 
        {% if params.model == "theme-switch" %}
        x-on:click=" colorScheme = 'dark' " :aria-pressed="colorScheme === 'dark' ? true : false"
        {% endif %}>
        {% if params.iconB != '' %}
        <svg width="20" height="20" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" {% if params.iconCssB != '' %}class="{{ params.iconCssB }}"{% endif %}><use xlink:href="#{{ params.iconB }}" /></svg>
        {% endif %}
        <span data-btn-label {% if params.txtCssB != "" %}class="{{ params.txtCssB }}"{% endif %}>{{ params.txtB }}</span>
    </button>
    <button type="button" 
        {% if params.attr != "" %}data-btn="{{ params.attr }}"{% else %}data-btn{% endif %} 
        {% if params.model != "theme-switch" %}class="rounded-l-none"{% else%}
            {% if params.btnCss != '' %}class="{{ params.btnCss }}"{% endif %}
        {% endif %} 
        {% if params.model == "theme-switch" %}
        x-on:click=" colorScheme = 'system' " :aria-pressed="colorScheme === 'system' ? true : false"
        {% endif %}>
        {% if params.iconC != '' %}
        <svg width="24" height="24" aria-hidden="true" focusable="false" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" {% if params.iconCssC != '' %}class="{{ params.iconCssC }}"{% endif %}><use xlink:href="#{{ params.iconC }}" /></svg>
        {% endif %}
        <span data-btn-label  {% if params.txtCssC != "" %}class="{{ params.txtCssC }}"{% endif %}>{{ params.txtC }}</span>
    </button>
</div>