/* --------------------------------------------- */
/* BUTTON-GROUP                                  */
/* --------------------------------------------- */
@layer components {
    [role="group"] [data-btn*="border"] + [data-btn*="border"] {
        margin-left: calc(var(--btn-bw, var(--ui-bw)) * -1);
    }

    [dir="rtl"] [role="group"] > :not([data-btn*="theme"]):last-child,
    [role="group"] > :not([data-btn*="theme"]):first-child {
        border-top-left-radius: var(--btn-br, var(--ui-br));
        border-bottom-left-radius: var(--btn-br, var(--ui-br));
    }

    [dir="rtl"] [role="group"] > :not([data-btn*="theme"]):first-child,
    [role="group"] > :not([data-btn*="theme"]):last-child {
        border-top-right-radius: var(--btn-br, var(--ui-br));
        border-bottom-right-radius: var(--btn-br, var(--ui-br));
    }
}